* {
    box-sizing: border-box;
    font-family: 'Libre Bodoni', serif;
}

/*Carousel*/

.carousel-inner img {
    opacity: 0.6;
}

.carousel-caption {
    color: navy;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Libre Bodoni', serif;
    border-radius: 100%;
    margin-bottom: 200px;
}
